
<div class="container mt-5">
  <h1 class="mb-4">Comparaison de fichiers - Excel/CSV</h1>

  <div class="row">
    <div class="col-4 mb-3">
      <label for="file1" class="form-label">Fichier de référence</label>
      <input type="file" id="file1" class="form-control" (change)="onFile1Change($event)">
    </div>

    <div class="col-4 mb-3">
      <label for="file2" class="form-label">Fichier à comparer</label>
      <input type="file" id="file2" class="form-control" (change)="onFile2Change($event)">
    </div>

    <div class="col-4 d-flex align-items-end mb-3">
      <button class="btn btn-primary w-100" (click)="comparer()" [disabled]="isLoading">
        {{ isLoading ? 'Comparaison en cours...' : 'Comparer' }}
      </button>
    </div>
  </div>
</div>

<!-- Résultats -->
<div class="container mt-4">
  <h2 class="mb-4">Résultats de la comparaison:</h2>

  <div *ngIf="results; else noData">

    <!-- Pagination globale (haut) -->
    <nav *ngIf="getTotalPages() > 1" aria-label="Pagination">
      <ul class="pagination">
        <li class="page-item" [class.disabled]="currentPage === 1">
          <button class="page-link" (click)="changePage(currentPage - 1)">Précédent</button>
        </li>

        <li class="page-item"
            *ngFor="let p of getVisiblePages()"
            [class.active]="p === currentPage"
            [class.disabled]="p === '...'">
          <button class="page-link" *ngIf="p !== '...'" (click)="changePage(+p)"> 
            {{ p }}
          </button>
          <span class="page-link" *ngIf="p === '...'">...</span>
        </li>

        <li class="page-item" [class.disabled]="currentPage === getTotalPages()">
          <button class="page-link" (click)="changePage(currentPage + 1)">Suivant</button>
        </li>
      </ul>
    </nav>


    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
      <li class="nav-item" *ngFor="let tab of tabs; let i = index" role="presentation">
        <button class="nav-link"
                [class.active]="i === 0"
                data-bs-toggle="tab"
                [attr.data-bs-target]="'#' + tab.id"
                [attr.aria-controls]="tab.id"
                type="button" 
                role="tab">
          {{ tab.title }}
        </button>
      </li>
    </ul>

    <!-- Tab contents -->
    <div class="tab-content mt-3">
      <div class="tab-pane fade table-responsive shadow-sm rounded" *ngFor="let tab of tabs; let i = index" [class.show]="i === 0" [class.active]="i === 0" [id]="tab.id" role="tabpanel">

        <!-- Cas same_name_diff_matricule -->
        <table *ngIf="tab.type === 'same'" class="table table-bordered table-hover align-middle">
          <thead class="table-dark">
            <tr>
              <th>#</th>
              <th>Nom & Prénom</th>
              <th>Matricule ({{ file1Name }})</th>
              <th>Matricule ({{ file2Name }})</th>
              <th>État</th>
            </tr>
          </thead>
          <tbody >
          <tr *ngFor="let item of getPagedData(tab); let i = index">
              <td>{{ (currentPage - 1) * pageSize + i + 1 }}</td>
              <td>{{ item.nom_prenom }}</td>
              <td>{{ isArray(item.matricule_df1) ? item.matricule_df1.join(' / ') : item.matricule_df1 }}</td>
              <td>{{ isArray(item.matricule_df2) ? item.matricule_df2.join(' / ') : item.matricule_df2 }}</td>
              <td>
                    <span class="badge bg-warning text-dark" *ngIf="item.matricule_df1 != item.matricule_df2">
                      Conflit
                    </span>
                    <!-- Badge Doublons -->
                    <span class="badge bg-secondary ms-3" *ngIf="isArray(item.matricule_df1) || isArray(item.matricule_df2)">
                      Doublons
                    </span>
              </td>
            </tr>
          </tbody>
        </table>

        <!-- Cas missing_in_df1 ou df2 -->
        <table *ngIf="tab.type === 'missing1' || tab.type === 'missing2'" class="table table-bordered table-hover align-middle">
          <thead class="table-dark">
            <tr>
              <th>#</th>
              <th>Nom & Prénom</th>
              <th>Matricule</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of getPagedData(tab); let i = index">
              <td>{{ (currentPage - 1) * pageSize + i + 1 }}</td>
              <td>{{ item.nom_prenom }}</td>
              <td>{{ item.matricule }}</td>
            </tr>
          </tbody>
        </table>

        <!-- Cas diff_line_by_line -->
         <div *ngIf="tab.type === 'diffs'">
            <div class="alert alert-info small mb-3">
                Liste des différences détectées <strong>colonne par colonne</strong> 
                entre les deux fichiers. Les enregistrements sont <strong>regroupés par matricule</strong>.
            </div>

           <div class="accordion mt-4" id="accordionDiffs">
             <div class="accordion-item" *ngFor="let group of pagedDiffs; let i = index">
               <h2 class="accordion-header" id="heading{{ i }}">
                 <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        [attr.data-bs-target]="'#collapse' + (i + (currentPage - 1) * pageSize)"
                        aria-expanded="false"
                        [attr.aria-controls]="'collapse' + (i + (currentPage - 1) * pageSize)">
                  <span class="me-2 text-muted">&nbsp;{{ (currentPage - 1) * pageSize + i + 1 }}.</span>
                  Matricule : &nbsp;<span class="fw-bold ms-1">{{ group.key }}</span>
                  <span class="badge bg-warning ms-3">{{ group.differences.length }} différences</span>
                </button>
               </h2>
               <div [id]="'collapse' + (i + (currentPage - 1) * pageSize)" 
                   class="accordion-collapse collapse"
                   [attr.aria-labelledby]="'heading' + (i + (currentPage - 1) * pageSize)"
                   data-bs-parent="#accordionDiffs">
                 <div class="accordion-body">
                   <table class="table table-sm table-striped align-middle">
                     <thead class="table-dark">
                       <tr>
                         <th>Colonne</th>
                         <th>Valeur dans {{ file1Name }}</th>
                         <th>Valeur dans {{ file2Name }}</th>
                       </tr>
                     </thead>
                     <tbody>
                       <tr *ngFor="let diff of group.differences">
                         <td>{{ diff.column }}</td>
                         <td>{{ diff.df1_value }}</td>
                         <td>{{ diff.df2_value }}</td>
                       </tr>
                     </tbody>
                   </table>
                 </div>
               </div>
             </div>
           </div>
         </div>


        <!-- <table *ngIf="tab.type === 'diffs'" class="table table-bordered table-hover align-middle">
          <thead class="table-dark">
            <tr>
              <th>#</th>
              <th>Clé</th>
              <th>Colonne</th>
              <th>Valeur dans {{ file1Name }}</th>
              <th>Valeur dans {{ file2Name }}</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of getPagedData(tab); let i = index">
              <td>{{ (currentPage - 1) * pageSize + i + 1 }}</td>
              <td>{{ item.key }}</td>
              <td>{{ item.column }}</td>
              <td>{{ item.df1_value }}</td>
              <td>{{ item.df2_value }}</td>
            </tr>
          </tbody>
        </table> -->

      </div>
    </div>

     <!-- Pagination globale (bas) -->
    <nav *ngIf="getTotalPages() > 1" aria-label="Pagination">
      <ul class="pagination mt-3">
        <li class="page-item" [class.disabled]="currentPage === 1">
          <button class="page-link" (click)="changePage(currentPage - 1)">Précédent</button>
        </li>

        <li class="page-item"
            *ngFor="let p of getVisiblePages()"
            [class.active]="p === currentPage"
            [class.disabled]="p === '...'">
          <button class="page-link" *ngIf="p !== '...'" (click)="changePage(+p)"> 
            {{ p }}
          </button>
          <span class="page-link" *ngIf="p === '...'">...</span>
        </li>

        <li class="page-item" [class.disabled]="currentPage === getTotalPages()">
          <button class="page-link" (click)="changePage(currentPage + 1)">Suivant</button>
        </li>
      </ul>
    </nav>

  </div>
  <ng-template #noData>
    <div class="alert alert-info">
      Aucun résultat à afficher pour le moment.
    </div>
  </ng-template>
</div>
